/*======================================
  Forms
======================================*/

form {
  .row + .row {
    margin-top: 20px;
  }

  label,
  .label {
    display: block;
    margin-bottom: 6px;

    &.inline {
      @include inline-block;
      margin-right: 20px;
    }

    .obs {
      font-size: 12px;
    }
  }

  .fieldset {
    margin: 20px 0 0;
  }

  .legend {
    margin-bottom: 20px;
  }
}

.field {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='tel'],
  [type='number'],
  [type='color'],
  [type='password'],
  select,
  textarea {
    background: none;
    border: 1px solid;
    border-radius: 2px;
    box-sizing: border-box;
    color: $font-color;
    font-size: 12px;
    padding: 10px;
    transition: 0.2s;
    width: 100%;

    &:focus {
      background: rgba(255, 255, 255, 0.1);
      border-color: #999;
      box-shadow: none;
      outline: none;
    }
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='tel'],
  [type='number'],
  [type='color'],
  [type='password'] {
    height: 40px;
  }

  select {
    height: 40px;
    padding: 10px 6px;
  }

  textarea {
    overflow: auto;
    resize: none;
  }

  [type='checkbox'],
  [type='radio'] {
    margin-right: 2px;
    overflow: hidden;
    position: relative;
    top: 1px;
  }
}

.form-controls {
  margin-top: 20px;

  span {
    font-size: 12px;
  }

  .hidden {
    display: none;
  }

  .error-form {
    color: $color-error;
  }

  .success-form {
    color: $color-success;
  }
}
