/**
 * Global styles
 */

.valign {
    i,
    .center {
        display: inline-block;
        vertical-align: middle;
    }

    i {
        height: 100%;
    }
}

.center-block {
    float: none;
}
