/**
 * Global styles
 */

html {
    background: $color-background;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
button,
input,
select,
textarea {
    color: $font-color;
}

a {
    text-decoration: none;
    transition: color 0.2s;
    font: inherit;
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

button {
    cursor: pointer;
}

a:focus,
a:active,
button:focus,
button:active {
    outline: none;
}

ul,
li {
    list-style: none;
}

ol,
ul {
    padding: 0;
    margin: 0;
}

img,
iframe,
video {
    vertical-align: middle;
}

.ir {
    display: block;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.cf::before,
.cf::after {
    content: " ";
    display: table;
}

.clear,
.cf::after {
    clear: both;
}

.cf {
    zoom: 1;
}

.valign {
    i,
    .center {
        display: inline-block;
        vertical-align: middle;
    }

    i {
        height: 100%;
    }
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    float: none;
}
