/*======================================
  Grid
======================================*/

.container {
  @include container;
}

.row {
  @extend .cf;
  @include row;
}

.col {
  @include col;
}

@include make-grid-columns(sm);

@include breakpoint-min(md) {
  @include make-grid-columns(md);
}

@include breakpoint-min(lg) {
  @include make-grid-columns(lg);
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
