/*======================================
  Main structure
======================================*/

header {
  background: #EFEFEF;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 10px;
  position: relative;
  z-index: 100;

  .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header-logo {
    float: left;
    transition: 0.2s;
    position: relative;
    z-index: 2;
    display: block;
    width: 122px;

    &:hover {
      opacity: 0.8;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @include breakpoint(sm) {
    .container {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .header-logo {
      width: 74px;
    }
  }
}

/* Menus */
.main-nav {
  text-align: right;
  font-size: 0;
  margin-top: 30px;

  li {
    @include inline-block(middle);
    font-size: 16px;

    + li {
      padding-left: 30px;
    }
  }

  a {
    transition: 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }

  @include breakpoint(sm) {
    position: relative;
    text-align: right;
    margin-top: 0;

    ul {
      position: absolute;
      z-index: 1;
      top: 100%;
      right: 0;
      background: #FFF;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-top: 5px;
      border: 1px solid #DDD;
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0, -20px, 0);
      transition: 0.4s;

      .menu-open & {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
      }

      &:before,
      &:after {
        content: " ";
        color: #FFF;
        position: absolute;
        right: 20px;
        bottom: 100%;
        border-bottom: 6px solid;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
      }

      &:before {
        color: #DDD;
      }

      &:after {
        margin-bottom: -1px;
      }

      li {
        display: block;

        + li {
          padding-left: 0;
          padding-top: 20px;
        }
      }
    }

    .bt-menu {
      @include inline-block;
    }
  }
}

/* Geral */
.main-wrapper {
  overflow: hidden;
}

/* Rodapé */
footer {
  background: #EFEFEF;
  border-top: 1px solid #E0E0E0;
  margin-top: 20px;

  .container {
    padding-top: 15px;
    padding-bottom: 15px;

    .copy {
      text-align: center;

      a:hover {
        color: #777;
      }
    }
  }
}
