{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-empty-line-before": [ "always", {
      "except": ["all-nested", "blockless-after-same-name-blockless", "blockless-group", "first-nested"],
      "ignore": ["after-comment", "all-nested", "blockless-after-same-name-blockless", "blockless-group"]
    } ],
    "declaration-empty-line-before": [ "always", {
      "except": [
        "after-declaration",
        "first-nested"
      ]
    } ],
    "scss/selector-no-redundant-nesting-selector": true,
  }
}