<%- include('partials/header') %>

<main>
    <div class="container">
        <section class="well">
            <h1>WorkBase</h1>
            <h2>A solid foundation with sensible defaults to kickstart your next project. Start building from the ground up. Not the other way around.</h2>
            <ul>
                <li>Gulp for task running</li>
                <li>Sass, with various mixins for style.</li>
                <li>webpack with Babel for JavaScript</li>
                <li>EJS for HTML templating</li>
                <li>Browsersync for live-reloading</li>
            </ul>
        </section>

        <section>
            <h2>Getting started</h2>

            <h3>Clone the repository</h3>
            <pre><code>$ git clone https://github.com/lcdsantos/workbase.git my-project && cd my-project</code></pre>

            <br>

            <h3>Install gulp globally</h3>
            <pre><code>$ npm install gulp-cli --global</code></pre>

            <br>

            <h3>Install dependencies</h3>
            <pre><code>$ npm install</code></pre>

            <br>

            <h3>Start working! Run gulp and open http://localhost:3000 on your browser</h3>
            <pre><code>$ gulp</code></pre>
        </section>
    </div>
</main>

<%- include('partials/footer') %>
