// Show grid
.debug {
  [class^='col-'],
  .col {
    background: #eee;
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
    color: #666;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
    padding: 8px 0;
    text-indent: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.intro {
  background: #f8f8f8;
  border-radius: 4px;
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
  padding: 20px 15px;

  ul,
  li {
    line-height: 2;
    list-style: inside disc;
  }

  ul {
    padding: 0 5px;
  }
}

section {
  padding-bottom: 1em;
  padding-top: 1em;

  h1,
  h2 {
    margin-bottom: 0.75em;
  }
}

article {
  p {
    margin: 1em 0;
  }
}
