<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if IE]><![endif]-->
  <title>WorkBase</title>

  <!-- build:css -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- endbuild -->
  <link rel="shortcut icon" href="favicon.ico">

  <meta name="description" content="">
  <meta name="robots" content="all">
  <meta property="og:title" content="WorkBase">
  <meta property="og:type" content="website">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="WorkBase">
  <meta property="og:image" content="assets/img/share.jpg">

  <!--[if lt IE 9]><script src="assets/js/vendor/html5shiv.min.js"></script><![endif]-->
  <% /* %><script>
  (function(a,b,c,d,e,f){a.GoogleAnalyticsObject=d;a[d]||(a[d]=
  function(){(a[d].q=a[d].q||[]).push(arguments)});a[d].l=+new Date;
  e=b.createElement(c);f=b.getElementsByTagName(c)[0];
  e.src='https://www.google-analytics.com/analytics.js';
  f.parentNode.insertBefore(e,f)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X','auto');ga('send','pageview');
  </script><% */ %>
</head>

<body>

<header class="main-header">
  <div class="container">
    <div class="cf">
      <a href="index.html" class="header-logo"><img src="assets/img/logo.svg" alt="WorkBase"></a>

      <nav class="main-nav">
        <ul class="main-nav-inner">
          <li><a href="#" title="About">About</a></li>
          <li><a href="#" title="Products">Products</a></li>
          <li><a href="#" title="Contact">Contact</a></li>
          <li class="bts-social">
            <a href="#" title="Twitter">
              <svg class="icon"><use xlink:href="assets/img/icons.svg#twitter"></use></svg>
            </a>
            <a href="#" title="Facebook">
              <svg class="icon"><use xlink:href="assets/img/icons.svg#facebook"></use></svg>
            </a>
            <a href="#" title="Instagram">
              <svg class="icon"><use xlink:href="assets/img/icons.svg#instagram"></use></svg>
            </a>
            <a href="#" title="YouTube">
              <svg class="icon"><use xlink:href="assets/img/icons.svg#youtube"></use></svg>
            </a>
          </li>
        </ul>

        <button class="bt-menu" title="Menu">
          <span class="hamburguer">
            <span class="bar bar-1"></span>
            <span class="bar bar-2"></span>
            <span class="bar bar-3"></span>
          </span>
        </button>
      </nav>
    </div>
  </div>
</header>